footer {
  padding: 1rem 0;
  background-color: #fafafa;
  border-top: 1px solid #eaeaea;
  text-align: center;
  font-size: 0.8rem;
  color: #666;
  .container {
    p {
      a {
        color: #0152fe;
        text-decoration: none;
      }
    }
  }
}